.navbar {
  width: 60%;
  position: fixed;
  top: 0;
  left: 100px;
  background: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.navbar-title {
  font-size: 18px;
  font-weight: bold;
}

.date-time {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date, .time {
  display: flex;
  align-items: center;
  background: #f5faff;
  padding: 8px 12px;
  border-radius: 20px;
  color: #007bff;
  font-size: 12px;
  font-weight: 500;
}

.icon {
  margin-right: 6px;
}

.separator {
  font-size: 18px;
  font-weight: bold;
  color: #444;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-profile span {
  font-size: 14px;
  font-weight: 500;
}

/* Style khusus untuk DatePicker */
.datepicker {
  border: none;
  background: transparent;
  font-size: 12px;
  font-weight: 500;
  color: #007bff;
  cursor: pointer;
}
.datepicker:focus {
  outline: none;
}
